.checklist li {
    padding-left: 40px !important;
    list-style-type: none;
    margin-bottom: 20px;
}

li.checkmark {
	background:url("../images/checkmark-icon.png") no-repeat 0 50%;

}
li.error {
	background:url("../images/x.png") no-repeat 0 50%;
}